body {
	display: flex;/*center the main element in middle of the screen*/
	justify-content: center;/*center the main element in middle of the screen*/
	align-items: center;/*center the main element in middle of the screen*/
	background-color: rgb(250, 227, 231);
	height: 100vh;/*center the main element in middle of the screen*/
}

main {
	background-color: white;
	width: 70vw;/*set the width*/
	height: 80vh;/*set the height*/
	display:flex;
	flex-direction: row;
}

aside {
	flex: 1;/*set width of element containing hero picture*/
	background-image: url("./img/background.jpg");
	background-repeat: no-repeat;
	background-position: center left ;
	height: 80vh;/*image is size of the device screen size*/
	background-color:"black" ;
	background-size: contain;/*image cover the entire screen*/
}

.video-background {
	background-image: url("./img/preview.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 120px;/*image is size of the device screen size*/
	width: 100%;
	background-color:"black" ;
	background-size: cover;/*image cover the entire screen*/
}

.video-container {
	width:50%;
	padding-right: 40px;
}

.article-description {
	width: 50%;
	padding-right: 47px;
}

.content-container {
	flex: 1.5;/*set width of the content area*/
}

.content {
	display: flex;/*center the main element in middle of the screen*/
	justify-content: center;/*center the main element in middle of the screen*/
	align-items: center;/*center the main element in middle of the screen*/
		
}

.nav-back {
	display: flex;/*center to the left the back navigtion elements*/
	justify-content: left;/*center to the left the back navigtion elements*/
	align-content: center;/*center to the left the back navigtion elements*/
}

.backIcon {
	margin-right: 10px;/*whitespace between img and text*/
}

.nav-menu {
	display: flex;/*center to the left the back navigtion elements*/
	justify-content: flex-end;/*center to the left the back navigtion elements*/
	align-content: center;/*center to the left the back navigtion elements*/
}

a {
	margin: 10px;
}

.city-info {
	margin-top: 50px;/*whitespace between nav links and article title*/
}

.bar {
	border: 1.5px solid black;
	width: 10vw;
	margin-left: 25px;
}

.show-bar {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	
}

.article-title {
	font-size: 3rem;
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: "Playfair-display";
}

.greyText {
	color:grey;
}

.city-details {
	display:flex;
}