.treesBackgroundImage {
    background-image: url("./img/background.jpg");
     background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;/*image is size of the device screen size*/
    background-color:"black" ;
    background-attachment: fixed;
    background-size: cover;/*image cover the entire screen*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}