.treesBackgroundImage {
    background-image: url("./img/background.jpg");
     background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;/*image is size of the device screen size*/
    background-color:"black" ;
    background-attachment: fixed;
    background-size: cover;/*image cover the entire screen*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 60vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

section {
    height: 10vh;
}

.tinyGreyCircle {
    height: 5px;
    width: 5px;
    border-radius: 30px;
    background-color: lightgrey;
    margin: 3px ;
}

.currentGreyCircle {
    background-color: darkgray;
}

.displayCircles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10px;
}

.centerText {
    text-align: center;
    font-weight: bold;
}

.paymentCard {
    border: 1px solid lightgrey;
    display: flex;

}


img {
    width: 10vw;
    height: 10vh;
}


.cardName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    color: grey;
}

.selectedCard {
      color: black;
      margin-right: 18vw;
}

.nextStepStyle {
    background-color: blue;
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
}


#arrowStyle {
    width: 1rem;
    height: 100%;
    transition: .3s ease;
}

#arrowStyle:hover {
    width: 5rem;
}

@media only screen and (min-width: 500px) {
    .selectedCard {
        margin-right: 20;
    }
}

@media only screen and (min-width: 768px) {
    main {
        height: 60vh;
        width: 40vw;
    }

    .selectedCard {
        margin-right: 35px;
    }

    #arrowStyle1 {
        width: 1rem;
    }
}