
body {
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(250, 203, 117);
}


main {
	height: 73vh;
	width: 70vw;
	background-color: white;
	margin-top: 10vh;
	display: flex;/*organize the aside and content areas horizontlly*/
}

aside {
	width:40%;
	height: 64vh;
	background-color: rgb(243, 241, 241);
	padding: 30px;
	overflow:auto;
}

#content {
	width:60%;
	padding:30px;
}

/*content in this area is horizontal and centered*/
.horizontal-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.credit-card-style {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	box-shadow: .1px 1px .0px lightgray;
}

.credit-card-style:hover {
	cursor: pointer;
	border: 2px solid navy;
	box-shadow: navy;
}

.credit-card-paragraph-style {
	margin-top: -8px;
	font-weight: bold;
	color:rgb(100, 99, 99);
	font-size: larger;
}

.space-between-credit-cards {
	margin-top: 25px;
}

.seperator-style {
	border:.2px solid lightgrey;
}

.bold-price {
	font-weight: bold;
}

.text-up-high {
	vertical-align: top;
	font-size:.6rem
}